.panel.panel-default
  .panel-heading
    %h4 Reports summaries
  .panel-body
    .companies_reports
      %p List vacancies
      %ul
        - vacancies.each do |vacancy|
          %li= link_to vacancy.title, manage_reports_summary_path(vacancy)
