- if object.errors.any?
  .alert.alert-danger
    The form contains #{pluralize(object.errors.count, "error")}.
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %ul
      - object.errors.full_messages.each do |msg|
        %li
          * #{msg}

