%p= link_to 'Add new Client', new_admin_external_client_path, method: :get, class: "btn btn-info new_ext_client"
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name client
      %th
  %tbody
    - external_clients.each do |client|
      %tr
        %td
          = link_to client.name, admin_external_client_path(client)
        %td
          = link_to 'delete', admin_external_client_path(client),method: :delete,data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger'
