// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar_user{
  width: 250px;
  height: 250px;
}
ul.error-list {
  li {
    &:before {
      content: '*'
    }
  }
}
span.new_summary{
  color :#00A80A;
  font-weight: bold;
}
.chartjs-legend li {
    display: inline-block;
    padding-left: 20px;
    span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
}
canvas {
  height: 450px;
  width: 90%;
  display: block;
}
.type_build_report{
  margin-bottom: 20px;
  label {
    display: block;
    margin-bottom: 10px;
  }
}
