// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar_user{
  width: 250px;
  height: 250px;
}
ul.error-list {
  li {
    &:before {
      content: '*'
    }
  }
}
span.new_summary{
  color :#00A80A;
  font-weight: bold;
}
