%tr
  %td= link_to company.name, manage_admin_company_path(company)
  %td= company.link
  %td= company.vacancies.size
  %td= link_to 'delete', manage_admin_company_path(company), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
