.panel.panel-default
  .panel-heading
    %h4 Reports copmany
  .panel-body
    %p List company
    %ul
      - companies.each do |company|
        %li= link_to company.name, admin_reports_company_path(company)
        