.col-md-10.type_build_report
  = form_tag(manage_reports_vacancy_path(params[:id]), method: :get, remote: true, class: 'form-inline') do
    %label
      %input{ type: 'radio', name: 'type_build', value: :month, checked: :checked }/
      Report day of month
    %label
      %input{ type: 'radio', name: 'type_build', value: :period }/
      Report by period from:
      %input{ type: 'text', name: 'start_day', disabled: :disabled }/
      to:
      %input{ type: 'text', name: 'end_day', disabled: :disabled }/
    = submit_tag 'Build', class: 'btn btn-sm btn-success'
.col-md-12.canvas-wrapper
  %canvas#canvas-summaries{ data:{ report: report.to_json } }
.col-md-12.legendDiv
